.NOAH-container {
  position: absolute;
  top: 20vh;
  left: 3%;
  width: 94%;
  z-index: 100;
  display: flex;
  flex-direction: row;
}

.NOAH-messages {
  overflow: scroll;
  width: 37%;
  height: 45vh;
  margin-right: 3vw;
  padding: 5%;
  background-color: rgba(34, 34, 34, 50%);
  border: 3px solid #222222;
  color: #EEEEEE;
  border-radius: 10px;
}

.NOAH-canvas {
  overflow: scroll;
  width: 37%;
  height: 45vh;
  padding: 5%;
  background-color: rgba(34, 34, 34, 50%);
  border: 3px solid #222222;
  color: #EEEEEE;
  border-radius: 10px;
}

.extended {
  width: 88%;
  margin-right: 0vw;
}

.none {
  display: none;
}

.noah-color-0 {
  padding-top: 6vh;
  background-color: #00303F;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

.noah-color-1 {
  padding-top: 6vh;
  background-color: #654700;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

@media screen and (orientation: portrait) {
  .NOAH-container {
    flex-direction: column;
  }

  .NOAH-messages {
    width: 86%;
    height: 25vh;
    margin-bottom: 3vh;
  }
  
  .NOAH-canvas {
    width: 86%;
    height: 25vh;
    margin-left: 0vh;
  }

  .extended {
    height: 60vh;
    margin-bottom: 0vh;
  }
}