.color-0 {
  background-color: #ed1c24;
  transition-duration: 3s;
  vertical-align: top;
}

.color-1 {
  background-color: #f3703c;
  transition-duration: 3s;
  vertical-align: top;
}

.color-2 {
  background-color: #f79338;
  transition-duration: 3s;
  vertical-align: top;
}

.color-3 {
  background-color: #ffbf50;
  transition-duration: 3s;
  vertical-align: top;
}

.color-4 {
  background-color: #fff300;
  transition-duration: 3s;
  vertical-align: top;
}

.color-5 {
  background-color: #bfd730;
  transition-duration: 3s;
  vertical-align: top;
}

.color-6 {
  background-color: #50b948;
  transition-duration: 3s;
  vertical-align: top;
}

.color-7 {
  background-color: #009f8b;
  transition-duration: 3s;
  vertical-align: top;
}

.color-8 {
  background-color: #0095d1;
  transition-duration: 3s;
  vertical-align: top;
}

.color-9 {
  background-color: #5e6cb3;
  transition-duration: 3s;
  vertical-align: top;
}

.color-10 {
  background-color: #892891;
  transition-duration: 3s;
  vertical-align: top;
}