.STELLA-container {
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.STELLA-messages {
  overflow: scroll;
  width: 34%;
  height: 45vh;
  padding: 5%;
  background-color: rgba(34, 34, 34, 50%);
  border: 3px solid #222222;
  color: #EEEEEE;
  border-radius: 10px;
}

.STELLA-canvas {
  overflow: scroll;
  width: 34%;
  height: 45vh;
  padding: 5%;
  background-color: rgba(34, 34, 34, 50%);
  border: 3px solid #222222;
  color: #EEEEEE;
  border-radius: 10px;
}

.extended {
  width: 84%;
}

.none {
  display: none;
}

.color-0 {
  padding-top: 6vh;
  background-color: #ed1c24;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

.color-1 {
  padding-top: 6vh;
  background-color: #f3703c;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

.color-2 {
  padding-top: 6vh;
  background-color: #f79338;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

.color-3 {
  padding-top: 6vh;
  background-color: #ffbf50;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

.color-4 {
  padding-top: 6vh;
  background-color: #fff300;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

.color-5 {
  padding-top: 6vh;
  background-color: #bfd730;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

.color-6 {
  padding-top: 6vh;
  background-color: #50b948;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

.color-7 {
  padding-top: 6vh;
  background-color: #009f8b;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

.color-8 {
  padding-top: 6vh;
  background-color: #0095d1;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

.color-9 {
  padding-top: 6vh;
  background-color: #5e6cb3;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

.color-10 {
  padding-top: 6vh;
  background-color: #892891;
  color: #EEEEEE;
  text-shadow: 1px 1px #222222;
  transition-duration: 3s;
  vertical-align: top;
}

@media screen and (orientation: portrait) {
  .STELLA-container {
    flex-direction: column;
  }

  .STELLA-messages {
    width: 84%;
    height: 24vh;
  }
  
  .STELLA-canvas {
    width: 84%;
    height: 24vh;
  }

  .extended {
    height: 64vh;
  }
}